<table>
    <thead>
        <tr>
            <th>Level</th>
            <th>Message</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
    <%= for entry <- @entries do %>
        <tr>
            <td><%= entry.level %></td>
            <td><%= entry.message %></td>
            <td><%= entry.timestamp %></td>
    <% end  %>
    </tbody>
</table>
